@keyframes arrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes phone {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pinned {
    0% {
        opacity: 0;
        transform: translate(200px, -200px);
    }
    40% {
        opacity: 0;
        transform: translate(200px, -200px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#main {
    background-color: #00182a;
}

#main h1,
#main h2,
#main h3,
#main p {
    color: #fff;
}

#main h1 {
    font-size: 72pt;
    line-height: 1.3em;
    margin-bottom: 30px;
}

#main h3 {
    font-weight: 300;
    line-height: 1.6em;
}

#main .inner {
    padding: 184.4px 0 100px 0;
    text-align: center;
    position: relative;
}

#main .btn {
    margin: 50px 0;
}

.arrow {
    margin-top: 50px;
    height: 10px;
    animation: arrow 2s infinite;
}

.mu1 {
    position: absolute;
    top: 150px;
    left: 0;
    animation: phone 0.5s;
}

.pin {
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 400px;
    animation: pinned 1s;
}